.register-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .registration-form {
    width: 25%;

    .heading {
      font-size: 3rem;
      font-weight: 500;
      color: #334155;
      text-align: center;
    }

    .sub-heading {
      font-size: 1.8rem;
      text-align: center;
      color: #40516a;
      padding: 1rem 0;
    }

    .form-data .terms-and-conditions {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.6rem;

      .group {
        margin: 0 10px 0 0;
      }
    }
  }

  .duplicate {
    font-size: 1.6rem;
    color: #991b1b;
    background-color: #fef2f2;
    border: 1px solid #991b1b;
    padding: 1.5rem;
    margin-top: 2rem;
  }
}
